<div class="component-container">
  <p class="component-detail">
    Hey, there! I am Matheus Oliveira, a Front End Developer Intern at ilegra.
  </p>
  <p class="component-detail">
    This Star Wars Application was developed in the ilegra Frontend Track Studies (2019/2) with the aim of improving my
    skills at Angular 8 framework used at this project.
  </p>
  <p class="component-detail">
    You can contact me through the social networks below:
  </p>
  <ul class=component-list>
    <li class=component-item>
      <a href="https://www.linkedin.com/in/matheus-santos-de-oliveira-539b20100/" class="component-link">
        Linkedin
      </a>
    </li>
    <li class=component-item>
      <a href="https://www.linkedin.com/in/matheus-santos-de-oliveira-539b20100/" class="component-link">
        GitHub
      </a>
    </li>
  </ul>
</div>
